body {
  background-color: #4A4238;
}

.oval {
  width: 1400px;
  height: 750px;
  background: #577590;
  -moz-border-radius: 500px / 250px;
  -webkit-border-radius: 500px / 250px;
  border-radius: 500px / 250px;
  border-style: solid;
  border-color: #FFFFF2;
  position: center;
}

.bigBox {
  width: 520px;
  height: 520px;
  border-style: solid;
  border-color: black;
  position: absolute;
  margin-left: 130px;
  margin-top: 110px;
}

.bigBox2 {
  width: 520px;
  height: 520px;
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 130px;
  margin-top: 110px;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #068D9D;
  border-style: solid;
  border-width: thin;
  border-color: #80ffff;
  float: left;
}

.square2 {
  width: 50px;
  height: 50px;
  background-color: #068D9D;
  border-style: solid;
  border-width: thin;
  border-color: #80ffff;
  float: left;
}

.hitShip {
  width: 50px;
  height: 50px;
  background-color: #DE6449;
  border-style: solid;
  border-width: thin;
  border-color: #80ffff;
  float: left;
}

.miss {
  width: 50px;
  height: 50px;
  background-color: #FFFFF2;
  border-style: solid;
  border-width: thin;
  border-color: #80ffff;
  float: left;
}

.gameOver {
  height: 750px;
  width: 1400px;
  position: fixed;
  left: 20px;
  font-size: 300%;
  background-color: #DE6449;
  color: white;
  text-align: center;
  border: 5px solid white;
}

.red {
  background-color: #DE6449;
}

.white {
  background-color: #FFFFF2;
}

.ship {
  background-color: #068D9D;
}

.alphabet {
  height: 520px;
  width: 10px;
  border-color: black;
  font-size: 350%;
  position: absolute;
  color: white;
  font-family: monospace;
  margin-top: 110px;
  margin-left: 98px;
}

.alphabet2 {
  height: 520px;
  width: 10px;
  font-size: 350%;
  position: absolute;
  color: white;
  font-family: monospace;
  margin-top: 110px;
  margin-left: 710px;
}

.numbers {
  width: 520px;
  height: 10px;
  font-size: 330%;
  position: absolute;
  color: white;
  font-family: monospace;
  margin-top: 70px;
  margin-left: 760px;
}

.numbers2 {
  width: 520px;
  height: 10px;
  font-size: 330%;
  position: absolute;
  color: white;
  font-family: monospace;
  margin-top: 70px;
  margin-left: 145px;
}
